apiVersion: apps/v1
kind: Deployment
metadata:
  name: mldevops
  namespace: mldevopskatir
  labels:
    app: mldevops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mldevops
  template:
    metadata:
      labels:
        app: mldevops
    spec:
      containers:
        - name: mldevops
          image: katiravan/mldevops:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: MODEL_PATH
              value: "models/model.joblib"
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 3
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
